.user-status {
  height: 13px;
  width: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
//   border: 2px solid #1e325c;
}

.user-status-online {

    background-color: rgb(61, 184, 135);
}

.user-status-away {

    background-color: rgb(255, 188, 31);
}

.user-status-offline {

    background-color: gainsboro;
}

.user-status-dnd {
    background-color: red;
}

.icon {
  font-size: 17px;
}
