.header-container {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(22, 37, 69);
  color: rgba(255, 255, 255, 0.56);
  overflow: visible;
}

.grid-icon {
  // color: rgba(255, 255, 255, 0.56);
  font-size: 20px;
}

.logo {
  color: azure;
}

.right {
  justify-content: flex-end;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: calc(100% - 254px);
  background-color: white;
  min-width: 264px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 4px;
}

.dropdown-show {
  display: block;
}

.dropdown-item {
  color: black;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  display: flex;
  align-items: center;

  height: 34px;
}

.dropdown-item:hover {
  background-color: #ddd;
}

.search-input {
  height: 28px;
  width: 432px;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
}

.search-input.hovered {
  background-color: #666; 
}

.search-input.focused {
  background-color: white; 
  color: black;
  // border-color: #666;
}
