.header-container {
    align-items: center;
    flex-direction: row;
    background-color: rgb(22, 37, 69);
    color: rgba(255, 255, 255, 0.56);
}

.grid-icon {
    // color: rgba(255, 255, 255, 0.56);
    font-size: 20px;
}

.logo {
    color: azure;
}