<div>
  <form
    [formGroup]="messageForm"
    (ngSubmit)="sendMessage()"
    class="mt-8 space-y-6">
    <div class="rounded-md shadow-sm -space-y-px">
      <div>
        <textarea
          class="border border-gray-300"
          formControlName="message"
          required></textarea>
      </div>
    </div>

    <div>
      <button
        type="submit"
        class="border border-transparent text-sm font-medium rounded-md text-white"
        [ngClass]="{
          'bg-indigo-600': !!this.messageForm.value.message,
          disabled: !!this.messageForm.value.message,
          'bg-gray-300': !this.messageForm.value.message
        }">
        <span class="absolute left-0 inset-y-0 flex items-center pl-3"> </span>
        Send
      </button>
    </div>
  </form>
</div>
