<div class="basis-1/5 border-2">
  <form
    [formGroup]="messageForm"
    (ngSubmit)="sendMessage()"
    (keydown.enter)="sendMessage()">
    <div class="-space-y-px">
      <textarea
        class="custom-textarea w-full h-40 p-2"
        formControlName="message"
        rows="1"
        required
        (keydown.enter)="handleEnterKey($event)"></textarea>
    </div>

    <div class="flex justify-end items-center">
      <div class="p-1">
        <button
          type="submit"
          class="text-sm font-normal rounded-md text-white"
          [ngClass]="{
            'bg-indigo-600': !!this.messageForm.value.message,
            disabled: !!this.messageForm.value.message,
            'bg-gray-300': !this.messageForm.value.message
          }">
          Send
        </button>
      </div>
    </div>
  </form>
</div>
