<div
  #scrollFrame
  (scroll)="scrolled($event)"
  class="posts-scroll p-2"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolledUp)="onUp()"
  [scrollWindow]="false">
  @if (postsLoading$) {
    <div
      class="h-full"
      style="display: flex; align-items: center; justify-content: center">
      <div>loading...</div>
    </div>
  } @else {
    @for (post of posts$ | async; track post.id) {
      <div>
        <app-message-item
          [message]="post.message"
          [userName]="post.user.name"
          [id]="post.id"
          [created_at]="post.created_at"></app-message-item>
      </div>
    }
  }
</div>
