<ul class="list-disc contacts-main">
  <li class="nested-list-item">
    <div
      (click)="onClick()"
      class="channels-title">
      @if (collapsed) {
        <ng-icon name="heroChevronRightMini"></ng-icon>
      } @else {
        <ng-icon name="heroChevronDownMini"></ng-icon>
      }
      DIRECT MESSAGES
    </div>
    <ul class="nested-list">
      @for (channel of channels$; track channel.id) {
        <li
          (mouseover)="mouseover(channel.id)"
          (mouseout)="mouseout()"
          [style.display]="collapsed ? 'none' : 'block'"
          (click)="setActive(channel.id)"
          [ngClass]="{
            'li-active': channelsState$.active === channel.id && channelsState$.isDirectActive,
            'li-mouse-on': this.mouseOn === channel.id
          }">
          <div class="channel-item">
            <app-user-avatar
              class="pl-3 my-2"
              size="small"
              [userId]="channel.membersIds[0]"
              [userName]="channel.name"></app-user-avatar>
            <div class="pl-1 channel-name">{{ channel.name }}</div>
            @if (channel.unread > 0) {
              <div class="w-full flex right mx-5">
                <div class="unread-badge">{{ channel.unread }}</div>
              </div>
            }
          </div>
        </li>
      }
    </ul>
  </li>
</ul>
