<ul class="list-disc contacts-main">
  <li class="nested-list-item">
    <div
      (click)="onClick()"
      class="channels-title">
      @if (collapsed) {
        <ng-icon name="heroChevronRightMini"></ng-icon>
      } @else {
        <ng-icon name="heroChevronDownMini"></ng-icon>
      }
      DIRECT MESSAGES
    </div>
    <ul class="nested-list">
      @for (channel of channels$; track channel.id) {
        <li
          (mouseover)="mouseover(channel.id)"
          (mouseout)="mouseout()"
          [style.display]="collapsed ? 'none' : 'block'"
          (click)="setActive(channel.id)"
          [ngClass]="{
            'li-active': channelsState$.active === channel.id && channelsState$.isDirectActive,
            'li-mouse-on': this.mouseOn === channel.id
          }">
          <app-direct-channel
            [userId]="channel.membersIds[0]"
            [userName]="channel.name"
            [unread]="channel.unread"></app-direct-channel>
        </li>
      }
    </ul>
  </li>
</ul>
