<ul class="list-disc contacts-main">
  <li class="nested-list-item">
    <div (click)="onClick()">
      @if (collapsed) {
        <ng-icon name="heroChevronRightMini"></ng-icon>
      } @else {
        <ng-icon name="heroChevronDownMini"></ng-icon>
      }
      Contacts
    </div>
    <ul class="nested-list">
      @for (channel of channels; track channel.id) {
        <li
          [style.display]="collapsed ? 'none' : 'block'"
          (click)="setActive(channel.id)"
          [ngClass]="{ 'bg-sky-700': active === channel.id && store.isDirectActive() }">
          {{ channel.name }}
        </li>
      }
    </ul>
  </li>
</ul>
