@if (
  state.isOpen &&
  state.index !== null &&
  state.index !== undefined &&
  state.files?.[state.index]?.name &&
  state.files?.length
) {
  <div class="modal-gallery">
    <div class="header flex flex-row justify-between">
      <div class="flex justify-center items-center text-white w-80">
        <div class="px-4">{{ state.files?.[state.index]?.name }}</div>
      </div>
      <div class="flex flex-row items-center text-white">
        <div
          class="hover:bg-gray-800 flex items-center justify-center size-10 rounded mx-2 cursor-pointer"
          (click)="decreaseIndex()">
          <span class="material-symbols-outlined px-4"> chevron_left </span>
        </div>
        <div>{{ state.index + 1 }} of {{ state.files?.length }}</div>
        <div
          class="hover:bg-gray-800 flex items-center justify-center size-10 rounded mx-2 cursor-pointer"
          (click)="increaseIndex()">
          <span class="material-symbols-outlined px-4"> chevron_right </span>
        </div>
      </div>
      <div class="flex flex-row items-center text-white">
        <div class="hover:bg-gray-800 flex items-center justify-center size-10 rounded mx-2 cursor-pointer">
          <span class="material-symbols-outlined"> download </span>
        </div>
        <div
          class="hover:bg-gray-800 flex items-center justify-center size-10 rounded mx-2 cursor-pointer"
          (click)="close()">
          <span class="material-symbols-outlined"> close </span>
        </div>
      </div>
    </div>
    <div class="preview flex justify-center items-center">
      @if (state.files?.[state.index]?.type?.startsWith("image") && state.files?.[state.index]?.s3_key) {
        <img
          src="{{ this.s3Prefix + state.files?.[state.index]?.s3_key }}"
          alt="{{ state.files?.[state.index]?.name }}" />
      } @else if (state.files?.[state.index]?.type?.startsWith("image") && state.files?.[state.index]?.blobUrl) {
        <img
          src="{{ state.files?.[state.index]?.blobUrl }}"
          alt="{{ state.files?.[state.index]?.name }}" />
      } @else {
        <div class="flex items-center justify-center">
          <div class="text-gray-400">{{ state.files?.[state.index]?.type }}</div>
        </div>
      }
    </div>
  </div>
}
