<ul class="list-disc channels-main">
  <li class="nested-list-item">
    <div
      (click)="onClick()"
      class="channels-title">
      @if (collapsed) {
        <ng-icon name="heroChevronRightMini"></ng-icon>
      } @else {
        <ng-icon name="heroChevronDownMini"></ng-icon>
      }
      CHANNELS
    </div>
    <ul class="nested-list">
      @for (channel of channels$; track channel.id) {
        <li
          (mouseover)="mouseover(channel.id)"
          (mouseout)="mouseout()"
          [style.display]="collapsed ? 'none' : 'block'"
          (click)="setActive(channel.id)"
          [ngClass]="{
            'li-active': channelsState$.active === channel.id && channelsState$.isOpenActive,
            'li-mouse-on': this.mouseOn === channel.id
          }">
          <app-open-channel [name]="channel.name"></app-open-channel>
        </li>
      }
    </ul>
  </li>
</ul>
