<ul class="list-disc channels-main">
  <li class="nested-list-item">
    <div (click)="onClick()">
      @if (collapsed) {
        <ng-icon name="heroChevronRightMini"></ng-icon>
      } @else {
        <ng-icon name="heroChevronDownMini"></ng-icon>
      }
      CHANNELS
    </div>
    <ul class="nested-list">
      @for (channel of channels; track channel.id) {
        <li
          (mouseover)="mouseover(channel.id)"
          (mouseout)="mouseout()"
          [style.display]="collapsed ? 'none' : 'block'"
          (click)="setActive(channel.id)"
          [ngClass]="{
            'li-active': store.active() === channel.id && store.isOpenActive(),
            'li-mouse-on': this.mouseOn === channel.id
          }">
          <div class="channel-item">
            <span class="material-symbols-outlined globe-icon my-2 mx-3"> language </span>
            <div class="channel-name">{{ channel.name }}</div>
          </div>
        </li>
      }
    </ul>
  </li>
</ul>
